v-dialog(v-model='dialogs.settings' max-width='560px' persistent)
  v-card(:dark='isDark')
    v-card-title(primary-title)
      div.title Settings
    v-container.pt-0(fluid)
      v-layout(row)
      v-list(two-line)
        //- Profile Info
        include ./settings/_profileInfo.pug
        v-subheader.accent--text Preferences
        include ./settings/_pref-decimalRounding.pug
        //- include ./settings/_pref-changeUnits.pug

        v-subheader.accent--text Appearance
        include ./settings/_appear-darkMode.pug

        v-subheader.accent--text User
        include ./settings/_pref-resetAll.pug

      v-layout(row justify-end)
        v-btn(
          color='primary'
          @click='closeSettings()'
          :loading='saving')
          | Done
