v-dialog(v-model='settingsDialog' max-width='560px')
  v-card(:dark='isDark')
    v-card-title(primary-title)
      div.title Settings
    v-container.px(fluid)
      v-list
        //- Profile Info
        include ./settings/_profileInfo.pug
        v-subheader Preferences
        include ./settings/_pref-decimalRounding.pug
        v-divider
        include ./settings/_pref-resetAll.pug
        v-divider

        v-subheader Appearance
        include ./settings/_appear-darkMode.pug
        v-divider
      v-layout(row justify-end)
        v-btn(
          color='primary'
          @click='settingsDialog = false')
          | Done
