v-toolbar(flat)
  v-list.pa-0
    v-list-tile(id='navDrawerLogo' avatar to='/' v-bind:active-class='isDark ? `accent--text` : `primary--text`')
      v-list-tile-avatar
        img(src='@/assets/img/icon.png')
      v-list-tile-content
        v-list-tile-title SmithCalc
        v-list-tile-sub-title v{{ currentVersion }}
      v-list-tile-action
        include ./_01-drawerOverflowMenu.pug
