v-menu(bottom left :dark='theAppIsDark')
  v-btn(flat icon slot='activator' @click.prevent)
    v-icon(size='20px') far fa-ellipsis-v
  v-list()
    //- Settings
    v-list-tile(@click='dialogs.settings = !dialogs.settings, drawer = false')
      v-list-tile-title Settings
    //- Dark mode
    v-list-tile(@click='togglePref(`appDarkMode`, `isDark`)')
      v-list-tile-title {{ isDark ? `Disable` : `Enable` }} dark mode
    //- Wiki
    v-list-tile(target='_blank' href='https://github.com/smith-web-dev/smith-calc/wiki')
      v-list-tile-title() Wiki
    //- Feedback
    v-list-tile(href='mailto:cory.gantenbein@pm.me?subject=SmithCalc Feedback')
      v-list-tile-title() Send feedback
    //- Divider
    //- v-divider
    //- v-list-tile(@click='onLogout()' v-if='user !== null')
      v-list-tile-title() Signout
    //- v-list-tile(v-else to='/auth')
      v-list-tile-title() Sign in
