v-navigation-drawer(v-model='drawer' fixed clipped app)
  v-layout(column fill-height)
    include ./_00-drawerToolbar.pug
    include ./_02-drawerItems.pug
    //- include ./_02-navDrawerItems.pug
    //- v-spacer
    //- include ./_03-drawerBottomItems.pug

