v-stepper-header.elevation-0
  //- Select CB type
  v-stepper-step(
    :color='stepColor'
    :complete='currentStep > 1'
    step='1')
  v-divider
  //- Enter/select width
  v-stepper-step(
    :color='stepColor'
    :complete='currentStep > 2'
    step='2')
  v-divider
  //- Enter Length
  v-stepper-step(
    :color='stepColor'
    :complete='currentStep > 3'
    step='3')
  v-divider
  //- Results
  v-stepper-step(
    :color='stepColor'
    step='4')
