mixin stepBtnNext
  v-btn(fab small :disabled='stepNextDisabled' @click!=attributes.click)
    v-icon(:color='btnColor') far fa-arrow-right
  //- v-btn(fab small @click!=attributes.click)
    v-icon(:color='btnColor') far fa-arrow-right

mixin stepBtnBack
  v-btn(fab small @click!=attributes.click)
    v-icon(:color='btnColor') far fa-arrow-left

mixin genericDialog(title, text)
  v-dialog(v-model!=attributes.model max-width!=attributes.width)
    v-card(:dark='isDark')
      v-card-title(primary-title)
        div.subheading= title
      v-card-text
        div= text
      v-card-actions
        v-layout(row justify-right)
        v-btn(flat @click!=attributes.yclick) Yes
        v-btn(flat @click!=attributes.nclick) No

mixin copyBtn()
  v-tooltip(bottom)
    v-btn(icon ripple @click.native!=attributes.click slot='activator')
      //- v-icon(color='grey lighten-1') fas fa-copy
      v-icon(color='grey lighten-1') fas fa-clipboard
    span Click to copy this result

mixin resetAllBtn()
  v-layout(
    row
    justify-center)
    v-flex(xs12 sm10 md8)
      v-btn(
        round
        block
        :color='btnColor'
        @click='resetAll(defaultInputs)')
        v-icon(left small) far fa-undo
        | Start Over

mixin loginLoaderBtn()
  span.custom-loader(slot='loader')
    v-icon(light) fas fa-spinner fa-spin

mixin sirpDivider(text)
  v-layout(row justify-center)
    v-flex.text-xs-center(xs12)
      p.sirp-divider
        span= text

mixin sirpCardDivider(text)
  v-layout(row justify-center)
    v-flex.text-xs-center(xs12)
      p.sirp-divider.sirp-divider--card
        span= text
