v-stepper-header.elevation-0
  //- Width
  v-stepper-step(
    :complete='currentStep > 1'
    step='1')
  v-divider
  //- Length
  v-stepper-step(
    :complete='currentStep > 2'
    step='2')
  v-divider
  //- Results
  v-stepper-step(step='3')
