extends /layouts/_stepper-step-main.pug
block title
  | Results
block card-body
  v-list(
    three-line
    subheader)
    v-list-tile
      v-list-tile-content
        v-list-tile-title Description
        v-list-tile-sub-title {{ displayDescription }}
      v-list-tile-action
        +copyBtn(click='doCopy(displayDescription)')
    v-list-tile
      v-list-tile-content
        v-list-tile-title Square {{ units.length.lg.fullPl }}
        v-list-tile-sub-title {{ commaNum(resultDisplay) }}
      v-list-tile-action
        +copyBtn(click='doCopy(resultWithLabel)')
    v-list-tile
      v-list-tile-content
        v-list-tile-title Square {{ units.length.sm.fullPl }}
        v-list-tile-sub-title {{ commaNum(resultDisplayInches) }}
      v-list-tile-action
        +copyBtn(click='doCopy(resultInchesWithLabel)')
block nav-btns-block
  +resetAllBtn

