//- v-card.mb-5
v-card-title.pb-0(primary-title style='display: block;')
  .headline Results
  //- div.grey--text.text--darken-1 Either select a type of hose or enter a custom compression factor
v-card-text
  v-container.pa-0(fluid)
    v-list(two-line subheader)
      //- Part size x length
      v-list-tile
        v-list-tile-content
          v-list-tile-title Description
          v-list-tile-sub-title {{ beltDescription }}
        v-list-tile-action
          v-btn(icon ripple @click.native='doCopy(beltDescription)')
            v-icon(color="grey lighten-1") file_copy
      //- Weight per piece
      v-list-tile
        v-list-tile-content
          //- v-list-tile-title(v-html='decToFrac')
          v-list-tile-title Belt weight
          v-list-tile-sub-title {{ beltWeight }} pounds
        v-list-tile-action
          v-btn(icon ripple @click.native='doCopy((beltWeight + ` pounds`))')
            v-icon(color="grey lighten-1") file_copy
      //- Extended weight
      v-list-tile
        v-list-tile-content
          v-list-tile-title Weight per foot
          v-list-tile-sub-title {{ (calcInput.belt.value * setWidth).toFixed(3) }} pounds
        v-list-tile-action
          v-btn(icon ripple @click.native='doCopy(((calcInput.belt.value * setWidth).toFixed(3) + ` pounds`))')
            v-icon(color="grey lighten-1") file_copy
//- Navigation buttons
v-layout(row justify-center)
  v-flex(flex xs6 sm5 md4)
    v-btn(@click='resetAll()')
      v-icon(left small) far fa-undo
      | Start Over
  //- v-flex.text-xs-right(flex xs6 sm5 md4)
    v-btn(color='accent' @click.native='addToShipment()')
      | Add to shipment
      v-icon(right small) far fa-plus

