extends ../layouts/_stepper-step-main.pug
block title
  | Results
block card-body
  v-list(three-line subheader)
    //- Part size x length
    v-list-tile
      v-list-tile-content
        v-list-tile-title Description
        v-list-tile-sub-title {{ beltDescription }}
      v-list-tile-action
        v-btn(icon ripple @click.native='doCopy(beltDescription)')
          include ../Global/btns/_result-step-copy-icon.pug
    //- Weight per piece
    v-list-tile
      v-list-tile-content
        v-list-tile-title Belt weight
        v-list-tile-sub-title {{ beltWeight }} pounds
      v-list-tile-action
        v-btn(icon ripple @click.native='doCopy((beltWeight + ` pounds`))')
          include ../Global/btns/_result-step-copy-icon.pug
    //- Extended weight
    v-list-tile
      v-list-tile-content
        v-list-tile-title Weight per foot
        v-list-tile-sub-title {{ (calcInput.belt.value * setWidth) }} pounds
      v-list-tile-action
        v-btn(icon ripple @click.native='doCopy(((calcInput.belt.value * setWidth).toFixed(decimalRounding) + ` pounds`))')
          include ../Global/btns/_result-step-copy-icon.pug
block nav-btns-block
  include ../Global/btns/_step-btn-reset-all.pug
