extends ../layouts/_stepper-step-main.pug
block title
  | Select belt type
block subtitle
  | Select a type of belt
block card-body
  v-layout(row)
    v-select.belt-types-select(color='accent' :dark='theAppIsDark' box v-model='calcInput.belt' :items='beltData.types' return-object label='Select a type of belt' clearable)
block nav-btns-right
  include ../Global/btns/_step-btn-next.pug
