v-card-title.pb-0(primary-title style='display: block;')
  .headline Select belt type
  div.grey--text.text--darken-1 Select a type of belt
v-card-text
  v-container.pa-0(fluid)
    v-layout(row)
      v-select.belt-types-select(:dark='theAppIsDark' box v-model='calcInput.belt' :items="beltData.types" return-object label="Select a type of belt" clearable)

//- Navigation buttons
v-layout(row justify-center)
  v-flex(flex xs6 sm5 md4)
  v-flex.text-xs-right(flex xs6 sm5 md4)
    v-btn(
      fab
      small
      :color='theAppIsDark ? colorProps.btns.stepNav.dark.bg : colorProps.btns.stepNav.light.bg'
      @click='moveStep(`f`)'
      :disabled='calcInput.belt.value === undefined ? true : false')
      include ../Global/btns/_step-btn-next-icon.pug

