extends ../layouts/_stepper-step-main.pug
block title
  | Determine belt width
block subtitle
  | Either select a standard belt width or enter a custom width
block card-body
  v-layout(row)
    v-select.belt-types-select(box v-model='calcInput.width.sel' :items='beltData.widths' label='Select a width' clearable)
  v-layout(row)
    v-spacer
    p.sirp-divider
      span or
    v-spacer
  v-layout(row)
    v-text-field(type='number' label='Enter a custom width' box v-model='calcInput.width.box' clearable)
block nav-btns-left
  v-btn(fab small :color='theAppIsDark ? colorProps.btns.stepNav.dark.bg : colorProps.btns.stepNav.light.bg' @click='currentStep = 1')
    include ../Global/btns/_step-btn-back-icon.pug
block nav-btns-right
  v-btn(fab small :color='theAppIsDark ? colorProps.btns.stepNav.dark.bg : colorProps.btns.stepNav.light.bg' @click='moveStep(`f`)' :disabled='stepNextDisabled')
    include ../Global/btns/_step-btn-next-icon.pug
