//- v-card.mb-5
v-card-title.pb-0(primary-title style='display: block;')
  .headline Determine the average thickness of the hose wall
  div.grey--text.text--darken-1 Measure the wall of the hose in at least 3 places
v-card-text
  v-container.pa-0(fluid)
    div(v-for='(f, i) in calcInput.hoseWallMeas' :key='i')
      v-text-field(type='number' label='' box v-model='calcInput.hoseWallMeas[i]' clearable :label='`Hose wall thickness #` + (i + 1) + [theAppIsMetric ? ` (cm)` : ` (in)`]')
        v-btn(flat icon color='error' slot='append-outer' v-show='(i + 1) > 3' style='top: -10px;' @click.native='removeMeas(calcInput.hoseWallMeas, i)')
          v-icon delete
    v-layout(row justify-center)
      v-flex(xs12 sm10 md8)
        v-btn(block color='accent' @click.native='addMeasurement(calcInput.hoseWallMeas)' :disabled='calcInput.hoseWallMeas.length < 6 ? false : true') Add A Measurement
//- Navigation buttons
v-layout(row justify-center)
  v-flex(flex xs6 sm5 md4)
    v-btn(fab small :color='theAppIsDark ? colorProps.btns.stepNav.dark.bg : colorProps.btns.stepNav.light.bg' @click='currentStep = 2')
      include ../Global/btns/_step-btn-back-icon.pug
  v-flex.text-xs-right(flex xs6 sm5 md4)
    v-btn(fab small :color='theAppIsDark ? colorProps.btns.stepNav.dark.bg : colorProps.btns.stepNav.light.bg' @click='moveStep(`f`)' :disabled='$noNullVals(calcInput.hoseWallMeas)')
      include ../Global/btns/_step-btn-next-icon.pug
