v-dialog(v-model='alert.display' max-width='290')
  v-card
    v-card-title(
      class='headline')
      | Are you sure?
    v-card-text
      | {{ alert.text }}
    v-card-actions
      v-spacer

      v-btn(
        flat
        @click='alert.display = false, delSelect = null')
        | Cancel
      //- Yes for deleting a single roll
      v-btn(
        v-show='delSelect === null ? false : true'
        flat
        @click='deleteItemFromShipment(delSelect)')
        | Yes
      //- Yes for clearing shipment
      v-btn(
        v-show='delSelect !== null ? false : true'
        flat
        @click='clearShipment()')
        | Yes
