v-dialog(v-model='alert.display' max-width='290')
  v-card
    v-card-title.headline Are you sure?
    v-card-text
      | {{ alert.text }}
    v-card-actions
      v-spacer

      v-btn(color='primary darken-1' flat='flat' @click='alert.display = false, delSelect = null') Nevermind
      //- Yes for deleting a single roll
      v-btn(v-show='delSelect === null ? false : true' color='error darken-1' flat='flat' @click='deleteItemFromShipment(delSelect)') Delete
      //- Yes for clearing shipment
      v-btn(v-show='delSelect !== null ? false : true' color='error darken-1' flat='flat' @click='clearShipment()') Clear
