v-fab-transition
  v-btn(
    fixed
    bottom
    right
    v-model='shipment.btn'
    :color='fieldColor'
    dark
    fab
    @click='shipment.dialog = true')
    v-icon local_shipping

  //- v-btn(
    :color='fieldColor'
    dark
    absolute
    bottom
    right
    @click='shipment.dialog = true'
    fab)
    v-icon(size='20px') fas fa-truck


//- v-fab-transition
//-   v-speed-dial(v-model='shipment.btn' fixed bottom right transition='scale-transition')
//-     v-btn(slot='activator' v-model='shipment.btn' :color='fieldColor' dark fab)
//-       v-icon local_shipping
//-       v-icon close
//-     v-btn(fab dark small color='info' @click.native='shipment.info = true')
//-       v-icon info
//-     v-btn(v-show='shipment.items.length !== 0' fab dark small :color='fieldColor' @click='saveShipmentMemoPopup()')
//-       v-icon save
//-     v-btn(fab dark small color='success' @click='shipment.dialog = true')
//-       v-icon visibility
//-     v-btn(v-show='currentStep === 4' fab dark small color='indigo' @click.native='addToShipment()')
//-       v-icon add

