//- v-card.mb-5
v-card-title.pb-0(primary-title style='display: block;')
  .headline Determine the compression factor
  div.grey--text.text--darken-1 Either select a type of hose or enter a custom compression factor
v-card-text
  v-container.pa-0(fluid)
    v-alert.mb-3.sirp-alert-text(:value='steps.compFactor.warn' :type='steps.compFactor.warnType')
      strong
        | {{ steps.compFactor.warnType === 'warning' ? 'WARNING!' : 'DANGER!' }}
        em  {{ setWarning }}
    v-select(box :items='calcData.hoseTypes' label='Select a type of hose' v-model='calcInput.comp.sel' @change='calcInput.comp.box = null' clearable)
    v-layout(row)
      v-spacer
      p.sirp-divider
        span or
      v-spacer
    v-text-field(type='number' hint='Enter as a full percentage, not a decimal' label='Enter a custom compression factor' box v-model='calcInput.comp.box' clearable suffix='%')
//- Navigation buttons
v-layout(row justify-center)
  v-flex(flex xs4 sm5 md6)
  v-flex.text-xs-right(flex xs4 sm5 md6)
    v-btn.primary( @click='moveStep(`f`)' :disabled='!!setCompFac ? false : true')
      | Next
      v-icon(right) navigate_next
