v-card.mb-5
  v-card-title(primary-title style='display: block;')
    .headline Determine the average Thickness of the hose wall
    div.grey--text.text--darken-1 Measure the wall of the hose in at least 3 places
  v-card-text
    v-container.pt-0
      div(v-for='(f, i) in calcInput.hoseWallMeas' :key='i')
        v-text-field(type='number' label='' box v-model='calcInput.hoseWallMeas[i].value' clearable :label='`Measurement ` + (i + 1)')
          v-btn(flat icon color='error' slot="append-outer" v-show='f.btn' style='top: -10px;' @click.native='removeHoseWallMeas(i)')
            v-icon delete
      v-layout(row)
        v-spacer
        v-btn(color='accent' @click.native='addHoseWallMeas()' :disabled='calcInput.hoseWallMeas.length < 6 ? false : true') Add A Measurement
