v-card.mb-5
  v-card-title(primary-title style='display: block;')
    .headline Determine the average OD of the fitting shank
    div.grey--text.text--darken-1 Measure the shank's outside diameter in at least 3 places, always at the highest points of the serrations.
  v-card-text
    v-container.pt-0
      div(v-for='(f, i) in calcInput.shankMeas' :key='i')
        v-text-field(type='number' label='' box v-model='calcInput.shankMeas[i].value' clearable :label='`Measurement ` + (i + 1)')
          v-btn(flat icon color='error' slot="append-outer" v-show='f.btn' style='top: -10px;' @click.native='removeShankOdMeas(i)')
            v-icon delete
      v-layout(row)
        v-spacer
        v-btn(color='accent' @click.native='addShankOdMeas()' :disabled='calcInput.shankMeas.length < 6 ? false : true') Add A Measurement
