v-navigation-drawer(v-model='drawer' fixed clipped app)
  v-layout(column fill-height)
    v-toolbar(flat)
      v-list.pa-0
        v-list-tile(avatar to='/')
          v-list-tile-avatar
            img(src='@/assets/img/icon.png')
          v-list-tile-content
            v-list-tile-title SmithCalc
            v-list-tile-sub-title v1.0.0
    v-list
      v-list-tile(v-for='(n, i) in displayNavItems' :key='i' :to='n.path')
        v-list-tile-action
          v-icon {{ n.icon }}
        v-list-tile-content
          v-list-tile-title {{ n.text }}
    v-spacer
    v-list
      v-list-tile(@click='settingsDialog = !settingsDialog')
        v-list-tile-action
          v-icon far fa-cogs
        v-list-tile-content
          v-list-tile-title Settings
