v-toolbar.primary(fixed clipped-left app dark)
  v-btn(flat icon @click.stop='drawer = !drawer')
    v-icon(size='19px') far fa-bars
  //- v-toolbar-side-icon(@click.stop='drawer = !drawer')
  v-toolbar-title.align-center
    span.title
      span.font-weight-light SmithCalc
      span.font-weight-regular {{ $route.name == 'Home' ? '' : ' // ' }}
    span.subheading.font-weight-medium {{ $route.name == 'Home' ? '' : $route.name }}
  v-spacer
