v-list-tile(
  @click='toggleDarkMode()')
  v-list-tile-content
    v-list-tile-title Use Metric Units
    v-list-tile-sub-title Enter and calculate using Metric units app-wide
  v-list-tile-action
    v-switch(
      v-model='isDark')
v-divider
