v-list-tile()
  //- @click='toggleDarkMode()')
  v-list-tile-content
    v-list-tile-title.text--disabled Use Metric Units
    v-list-tile-sub-title.text--disabled.font-italic Coming soon
    //- v-list-tile-sub-title Enter and calculate using {{ isMetric ? `Metric` : `Imperial` }} units app-wide
  v-list-tile-action
    v-switch(
      disabled
      v-model='isMetric')
v-divider
