v-list-tile(
  @click='clearDataDialog = !clearDataDialog'
  :disabled='localDataCheck')
  v-list-tile-content
    v-list-tile-title Clear all app data
    v-list-tile-sub-title Remove all user data and preferences
//- v-divider
