extends ../../layouts/_stepper-step-main.pug
block title
  | Select Material Size
block card-body
  v-select(:dark='theAppIsDark' box :items='bladeSizes' label='Select a material size' v-model='calcInput.size' clearable :color='darkToggleFgColor')
block nav-btns-right
  v-btn(fab small :color='darkToggleBgColor' :disabled='stepNextDisabled' @click='moveStep(`f`)')
    include ../../Global/btns/_step-btn-next-icon.pug
