extends ../../layouts/_stepper-step-main.pug

block title
  | Enter snowplow blade length
block subtitle
  | You can enter feet, inches, or feet and inches
block card-body
  v-layout(row)
    v-spacer
    v-flex(xs6)
      v-text-field(type='number' label='Feet' box v-model='calcInput.length.feet' :color='theAppIsDark ? colorProps.btns.stepNav.dark.fg : colorProps.btns.stepNav.light.fg' clearable)
    v-spacer
  v-layout(row)
    v-spacer
    v-flex(xs6)
      v-text-field(type='number' label='Inches' box v-model='calcInput.length.inches' :color='theAppIsDark ? colorProps.btns.stepNav.dark.fg : colorProps.btns.stepNav.light.fg' clearable)
    v-spacer
block nav-btns-left
  v-btn(fab small :color='theAppIsDark ? colorProps.btns.stepNav.dark.bg : colorProps.btns.stepNav.light.bg' @click='moveStep(`b`)')
    include ../../Global/btns/_step-btn-back-icon.pug
block nav-btns-right
  v-btn(fab small :color='theAppIsDark ? colorProps.btns.stepNav.dark.bg : colorProps.btns.stepNav.light.bg' :disabled='stepNextDisabled' @click='moveStep(`f`)')
    include ../../Global/btns/_step-btn-next-icon.pug
