extends ../../layouts/_stepper-step-main.pug
block title
  | Select Material Size
block card-body
  v-select(color='accent' :dark='theAppIsDark' box :items='bladeSizes' label='Select a material size' v-model='calcInput.size' clearable)
block nav-btns-right
  include ../../Global/btns/_step-btn-next.pug

