extends ../../layouts/_stepper-step-main.pug
include ../../mixins/_index.pug
block title
  | Select Material Size
block card-body
  v-select(
    box
    clearable
    color='accent'
    :dark='theAppIsDark'
    :items='bladeSizes'
    label='Select a material size'
    v-model='calcInput.size')
block nav-btns-right
  include ../../Global/btns/_step-btn-next.pug

