extends ../../layouts/_stepper-step-main.pug
include ../../mixins/_index.pug
block title
  | Results
block card-body
  v-list(three-line subheader)
    //- Part size x length
    v-list-tile
      v-list-tile-content
        v-list-tile-title Description
        v-list-tile-sub-title {{ descDisp }}
      v-list-tile-action
        v-btn(icon ripple @click.native='doCopy(descDisp)')
          include ../../Global/btns/_result-step-copy-icon.pug
    //- Weight per piece
    v-list-tile
      v-list-tile-content
        //- v-list-tile-title(v-html='decToFrac')
        v-list-tile-title Weight per piece
        v-list-tile-sub-title {{ pcWeight }} pounds
      v-list-tile-action
        v-btn(icon ripple @click.native='doCopy((pcWeight + ` pounds`))')
          include ../../Global/btns/_result-step-copy-icon.pug
    //- Extended weight
    v-list-tile
      v-list-tile-content
        v-list-tile-title Extended quantity weight
        v-list-tile-sub-title {{ extWeight }} pounds
      v-list-tile-action
        v-btn(icon ripple @click.native='doCopy((extWeight + ` pounds`))')
          include ../../Global/btns/_result-step-copy-icon.pug
block nav-btns-left
  v-btn(round @click='resetAll(defaultInputs)')
    v-icon(left small) far fa-undo
    | Start Over
block nav-btns-right
  v-btn(round :color='btnColor' @click.native='addToShipment()')
    | Add to shipment
    v-icon(right small) far fa-plus
