extends ../../layouts/_stepper-step-main.pug

block title
  | Enter snowplow blade length
block subtitle
  | You can enter feet, inches, or feet and inches
block card-body
  v-layout(row)
    v-spacer
    v-flex(xs6)
      v-text-field(type='number' label='Feet' box v-model='calcInput.length.feet' color='accent' clearable)
    v-spacer
  v-layout(row)
    v-spacer
    v-flex(xs6)
      v-text-field(type='number' label='Inches' box v-model='calcInput.length.inches' color='accent' clearable)
    v-spacer
block nav-btns-left
  include ../../Global/btns/_step-btn-back.pug
block nav-btns-right
  include ../../Global/btns/_step-btn-next.pug
