//- v-card.mb-5
v-card-title.pb-0(primary-title style='display: block;')
  .headline Enter snowplow blade length
  div.grey--text.text--darken-1 You can enter feet, inches, or feet and inches
v-card-text
  v-container.pa-0(fluid)
    v-layout(row)
      v-spacer
      v-flex(xs6)
        v-text-field(type='number' label='Feet' box v-model='calcInput.length.feet' clearable)
      v-spacer
    v-layout(row)
      v-spacer
      v-flex(xs6)
        v-text-field(type='number' label='Inches' box v-model='calcInput.length.inches' clearable)
      v-spacer

    //- div(v-for='(f, i) in calcInput.shankMeas' :key='i')
      v-text-field(type='number' label='' box v-model='calcInput.shankMeas[i]' clearable :label='`Shank OD #` + (i + 1)')
        v-btn(flat icon color='error' slot='append-outer' v-show='f.btn' style='top: -10px;' @click.native='removeMeas(calcInput.shankMeas, i)')
          v-icon delete
    //- v-layout(row justify-center)
      v-flex(xs12 sm10 md8)
        v-btn(block color='accent' @click.native='addMeasurement(calcInput.shankMeas)' :disabled='calcInput.shankMeas.length < 6 ? false : true') Add A Measurement
//- Navigation buttons
v-layout(row justify-center)
  v-flex(flex xs6 sm5 md4)
    v-btn(@click='moveStep(`b`)')
      v-icon(left) navigate_before
      | Back
  v-flex.text-xs-right(flex xs6 sm5 md4)
    v-btn.primary(:disabled='calcInput.length.feet === null && calcInput.length.inches === null ? true : false' @click='moveStep(`f`)')
      | Next
      v-icon(right) navigate_next
