v-card-title.pb-0(primary-title style='display: block;')
  .headline Enter pulley diameters
  //- div.grey--text.text--darken-1
v-card-text
  v-container.pa-0(fluid)
    v-layout(row)
      v-text-field(type='number' :label='equalPullies ? `Pulley diameters` : `First pulley diameter`' box v-model='calcInput.pully.one' clearable)
    v-layout(row)
      v-text-field(type='number' v-show='!equalPullies' label='Second pulley diameter' box v-model='calcInput.pully.two' clearable)
    v-layout(row)
      v-checkbox(label='Pullies have equal diameters' v-model='equalPullies')

//- Navigation buttons
v-layout(row justify-center)
  v-flex(flex xs6 sm5 md4)
  v-flex.text-xs-right(flex xs6 sm5 md4)
    //- v-btn.primary( @click='moveStep(`f`)' :disabled='!!setCompFac ? false : true')
    v-btn.primary(@click='moveStep(`f`)' :disabled='firstStepNextDisabled')
      | Next
      v-icon(right) navigate_next




