extends ../layouts/_stepper-step-main.pug
block title
  | Determine span between pullies
block subtitle
  | Enter the distance in feet between the shaft centers
block card-body
  v-layout(row)
    v-spacer
    v-flex(xs6)
      v-text-field(color='accent' type='number' :label='theAppIsMetric ? `Meters` : `Feet`' box v-model='calcInput.span.feet' clearable)
    v-spacer
  v-layout(row)
    v-spacer
    v-flex(xs6)
      v-text-field(color='accent' type='number' :label='theAppIsMetric ? `Centimeters` : `Inches`' box v-model='calcInput.span.inches' clearable)
    v-spacer
block nav-btns-left
  include ../Global/btns/_step-btn-back.pug
block nav-btns-right
  include ../Global/btns/_step-btn-next.pug
