extends ../layouts/_stepper-step-main.pug
block title
  | Results
block card-body
  v-list(three-line subheader)
    //- Description
    v-list-tile
      v-list-tile-content
        v-list-tile-title Description
        v-list-tile-sub-title {{ makeDesc }}
      v-list-tile-action
        v-btn(icon ripple @click.native='doCopy(makeDesc)')
          include ../Global/btns/_result-step-copy-icon.pug
    //- Length
    v-list-tile
      v-list-tile-content
        //- v-list-tile-title(v-html='decToFrac')
        v-list-tile-title Conveyor Length
        v-list-tile-sub-title {{ doCalculation }}
      v-list-tile-action
        v-btn(icon ripple @click.native='doCopy(doCalculation)')
          include ../Global/btns/_result-step-copy-icon.pug
block nav-btns-block
  include ../Global/btns/_step-btn-reset-all.pug
