extends /layouts/_stepper-step-main.pug
block title
  | Results
block card-body
  v-list(
    three-line
    subheader)
    //- Description
    v-list-tile
      v-list-tile-content
        v-list-tile-title Description
        v-list-tile-sub-title {{ resultDesc }}
      v-list-tile-action
        +copyBtn(click='doCopy(resultDesc)')
    //- Length in feet
    v-list-tile
      v-list-tile-content
        v-list-tile-title Length ({{ units.length.lg.fullPl }})
        v-list-tile-sub-title {{ commaNum(result) }}
      v-list-tile-action
        +copyBtn(click='doCopy(result)')
    //- Length in inches
    v-list-tile
      v-list-tile-content
        v-list-tile-title Length ({{ units.length.sm.fullPl }})
        v-list-tile-sub-title {{ commaNum(resultToInches) }}
      v-list-tile-action
        +copyBtn(click='doCopy(resultToInches)')
block nav-btns-block
  +resetAllBtn

