extends /layouts/_stepper-step-main.pug
block title
  | Results
block card-body
  v-list(
    three-line
    subheader)
    //- Description
    v-list-tile
      v-list-tile-content
        v-list-tile-title Length (feet)
        v-list-tile-sub-title {{ resultDesc }}
      v-list-tile-action
        +copyBtn(click='doCopy(resultDesc)')
    //- Length in feet
    v-list-tile
      v-list-tile-content
        v-list-tile-title Length (feet)
        v-list-tile-sub-title {{ result }}
      v-list-tile-action
        +copyBtn(click='doCopy(result)')
    //- Length in inches
    v-list-tile
      v-list-tile-content
        v-list-tile-title Length (inches)
        v-list-tile-sub-title {{ resultToInches }}
      v-list-tile-action
        +copyBtn(click='doCopy(resultToInches)')
block nav-btns-block
  +resetAllBtn

