v-layout(row)
  v-btn(flat @click='inputDigit(`1`)') 1
  v-btn(flat @click='inputDigit(`2`)') 2
  v-btn(flat @click='inputDigit(`3`)') 3
v-layout(row)
  v-btn(flat @click='inputDigit(`4`)') 4
  v-btn(flat @click='inputDigit(`5`)') 5
  v-btn(flat @click='inputDigit(`6`)') 6
v-layout(row)
  v-btn(flat @click='inputDigit(`7`)') 7
  v-btn(flat @click='inputDigit(`8`)') 8
  v-btn(flat @click='inputDigit(`9`)') 9
v-layout(row)
  v-btn(flat @click='inputDigit(`.`)') .
  v-btn(flat @click='inputDigit(`0`)') 0
  v-btn(flat)
    v-icon far fa-backspace
