/* recommended css code for vue-svgicon */
.sirp-svg-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    color: inherit;
    vertical-align: middle;
    fill: none;
    stroke: currentColor;
}

.sirp-svg-fill {
    fill: currentColor;
    stroke: none;
}

.sirp-svg-up {
    /* default */
    transform: rotate(0deg);
}

.sirp-svg-right {
    transform: rotate(90deg);
}

.sirp-svg-down {
    transform: rotate(180deg);
}

.sirp-svg-left {
    transform: rotate(-90deg);
}

.v-list__tile__action--stack {
    padding: unset;
    justify-content: center;
    padding-right: 5px;
}

.v-list__tile__action--stack > .sirp-svg-fill > g > path {
  fill: rgba(0, 0, 0, 0.54);
}

a.primary--text > .v-list__tile__action--stack > .sirp-svg-fill > g > path {
  fill: currentColor;
}
